main .container #row{
    height: 350px;
    /* background-color: aqua; */
}

button{
    height: 60px;
    width: 100%;
}
a{
    width: 100%;
}

#button-retirar{
    margin-bottom: 30px;
}
#button-movimientos{
    margin-top: 30px;
}
#button-consignar{
    margin-bottom: 30px;
}

#button-saldo{
    margin-top: 30px;
}

h1, h5, p{
    text-align: center;
 }

.col-sm-6{
    height: 300px;
    border-radius: 10px;
}
img{
    margin-top: 30px;
    margin-bottom: 50px;
}

#button-exit{
    height: 60px;
}

#column2{
    padding-top: 15px;
}

#btn-consignar{
    margin-top: 10px;
    margin-bottom: 30px;
    height: 40px;
}

#Textarea1{
    max-height: 130px;
    overflow: auto;
}